.app-header {
  background-color: rgb(255, 255, 255, 0.7);
  height: auto;
  padding: 30px;
  position: relative;
}

.header-wrap {
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.app-logo {
  height: 100px;
}

.nav-items {
  height: 50px;
  width: 50%;
  margin: auto 0;
}

.nav-items li {
  padding: 10px;
  text-decoration: none;
  display: inline-flex;
  border-right: 2px solid rgba(190, 30, 45, 0.808);
}
.nav-items li:hover {
  background-color: rgba(190, 30, 45, 0.1);
}
.nav-items li:last-child {
  padding: 10px;
  border-right: none;
}

.nav-items li a {
  color: rgba(190, 30, 45, 0.808);
  text-decoration: none;
}

.button-wrapper {
  margin: auto 0;
}
